* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.commentsCardsParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
  max-width: 1420px;
  margin: 1rem auto;
}

.commentsCards {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  gap: 0.8rem;
}

.commentsCardsImgParent img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 50%;
}

.commentsCardsRightSide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentsCardsRightSideNameAndDAte {
  display: flex;
  gap: 0.5rem;
}

.commentsCardsRightSideNameAndDAte span:nth-child(1) {
  font-weight: bold;
}
