* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardsLayoutParent {
  max-width: 1420px;
  margin: 1rem auto;
}

.cardsLayoutParent form {
  margin-bottom: 1rem;
}

.formParent {
  display: flex;
  gap: 0.5rem;
}

.formParent input {
  padding: 0.5rem 1.5rem;
  outline: none;
  border: 1px solid rgb(157, 157, 228);
  border-radius: 5px;
}

.formParent button {
  background-color: rgba(0, 0, 255, 0.671);
  padding: 0 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.commentsCardsParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.commentsCards {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  gap: 0.8rem;
  /* height: min-content; */
}

.commentsCardsImgParent img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  border-radius: 50%;
}

.commentsCardsRightSide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentsCardsRightSideReplies {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.commentsCardsRightSideNameAndDAte {
  display: flex;
  gap: 0.5rem;
}

.commentsCardsRightSideNameAndDAte span:nth-child(1) {
  font-weight: bold;
}
